#div1{
    background-color: red;
    height: 165px;
    width: 1500px;
}
#div2{
    background-color: yellow;
    height: 165px;
    width: 1500px;
}
#div3{
    background-color: black;
    height: 165px;
    width: 1500px;
}
#div4{
    background-color: green;
    height: 165px;
    width: 1500px;
}
